<!doctype html>
<html data-ng-app="">
	<head>
		<title>Using AngularJS Directives and Data Binding</title>
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script> -->
		<!-- <script src="todo.js"></script> -->
		<!-- <link rel="stylesheet" href="todo.css"> -->
	</head>
	<body data-ng-init="customers=[{name: 'John Smith', city: 'Phoenix'}, {name: 'John Doe', city: 'New York'}, {name: 'Jane Doe', city: 'San Francisco'}]">
		Name: 
		<br>
		<input type="text" data-ng-model="name">
		<br>
		<ul>
			<li data-ng-repeat="cust in customers | filter: name | orderBy: 'city'">{{cust.name | uppercase}} - {{cust.city | lowercase}}</li>
		</ul>
		<script src="angular.min.js"></script>
	</body>
</html>